

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
}

.container-threejs {
  margin: 0 auto;
}

ul {
  background-color: #000000;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 10%;
  right: 0;
  height:100%;
  width: 100px;
}
li {
    display: inline-block;
    float: none;
}
li a {
    color: #f1f1f1;
    display: block;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #000555;
    color: white;
}
.active{
    background-color: #04AA6D;
}


.navigation-bar {
  -webkit-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  position: fixed;
  transition-delay: 1s;
}
